{% extends 'base.html.twig' %}

{% block title %}
    {{ 'app.index.title' | trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                Weather in {{ city }} ({{ country}}) is {{ weatherData }} Celsius degrees
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
